<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      
      > 
      <!-- thymeleaf模板集合springsecurity標簽權限控制，的命名空間 -->
      
<!-- 引用替换当前的头部信息html 
	曲义解释：
		引用header.html 定义的 header片段
-->
<head th:replace="~{fragments/header :: header}">
	<meta charset="UTF-8">
</head>
<body>
	<!-- page content -->
	<div class="container blog-content-container">
		<!-- 
		login在我們編寫的controller中是只是做跳轉頁的url ， 并不對登陸用戶做實際操作，該login遵循springSecurity本身規則的，登陸用戶
		 -->
		<form action="/login" th:action="@{/login}" method="post">
			<h2>請登陸</h2>
			<div class="form-group col-md-5">
				<label for="username" class="col-form-label">賬號</label> 
				<input type="text" class="form-control" placeholder="請輸入用戶名" maxlength="25" name="username" id="username">
			</div>
			<div class="form-group col-md-5">
				<label for="password" class="col-form-label">密碼</label> 
				<input type="password" class="form-control" placeholder="請輸入密碼" maxlength="32" name="password" id="password">
			</div>
			<div class="form-group col-md-5">
				<input type="checkbox" name="remember-me"/>记住我 <br>
			</div>
			<div class="form-group col-md-5">
				<input class="btn btn-primary" type="submit" value="登陸">
			</div>
			<div class="col-md-5" th:if="${loginError}">
				<p class="blog-label-error" th:text="${errorMessage}"></p>
			</div>
		</form>
	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>